body {
	padding: 60px 40px;
	margin: 0px;
}
nav {
	background-color: green;
	height: 40px;
	padding-top: 10px;
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
}
nav ul {
	list-style-type: none;
	margin-top: 0px;
}
nav ul li {
	display: inline;
	margin-right: 30px;
	color: white;
}
.box {
	height: auto;
	padding: 20px;
	width: calc(25% - 10px);
	max-width: 300px; width: 100%;
	margin: 5px;
	background-color: lightgrey;
	box-sizing: border-box;
	float: left;
}
.box img {
	max-width: 250px; width: 100%;
	align-items: center;
}